<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.hslims.manager.model.po.EquipmentNameInfo">

  <resultMap id="BaseResultMap" type="com.bazl.hslims.manager.model.po.EquipmentNameInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="EQUIPMENT_TYPE_ID" jdbcType="INTEGER" property="equipmentTypeId" />
    <result column="EQUIPMENT_NO" jdbcType="VARCHAR" property="equipmentNo" />
    <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName" />
    <result column="CREATE_PERSON" jdbcType="VARCHAR" property="createPerson" />
    <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="UPDATE_PERSON" jdbcType="VARCHAR" property="updatePerson" />
    <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime" />

    <result column="EQUIPMENT_TYPE_NAME" jdbcType="VARCHAR" property="equipmentTypeName"></result>
  </resultMap>

  <sql id="Base_Column_List">
    eni.ID, eni.EQUIPMENT_TYPE_ID, eni.EQUIPMENT_NO, eni.EQUIPMENT_NAME, eni.CREATE_PERSON, eni.CREATE_DATETIME, eni.UPDATE_PERSON, eni.UPDATE_DATETIME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from equipment_name_info eni
    where eni.ID = #{eni.id,jdbcType=INTEGER}
  </select>

  <select id="selectAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    eti.EQUIPMENT_TYPE_NAME as EQUIPMENT_TYPE_NAME
    from equipment_name_info eni
    left join equipment_type_info eti on eti.ID = eni.EQUIPMENT_TYPE_ID
  </select>

  <select id="selectEquipmentNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from equipment_name_info eni
    where eni.EQUIPMENT_NO = #{eni.equipmentNo,jdbcType=VARCHAR}
  </select>

  <select id="selectEquipmentNameInfoList" parameterType="com.bazl.hslims.manager.model.po.EquipmentNameInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    eti.EQUIPMENT_TYPE_NAME as EQUIPMENT_TYPE_NAME
    from equipment_name_info eni
    left join equipment_type_info eti on eti.ID = eni.EQUIPMENT_TYPE_ID
    <if test="_parameter != null">
      <where>
        <if test="equipmentTypeId != null">
          eni.EQUIPMENT_TYPE_ID = #{equipmentTypeId,jdbcType=INTEGER}
        </if>
        <if test="equipmentNo != null">
          and eni.EQUIPMENT_NO like CONCAT('%', #{equipmentNo,jdbcType=VARCHAR}, '%')
        </if>
        <if test="equipmentName != null">
          and eni.EQUIPMENT_NAME like CONCAT('%', #{equipmentName, jdbcType=VARCHAR}, '%')
        </if>
      </where>
    </if>
  </select>

  <select id="selectEquipmentNameInfoListByTypeNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    eti.EQUIPMENT_TYPE_NAME as EQUIPMENT_TYPE_NAME
    from equipment_name_info eni
    left join equipment_type_info eti on eti.ID = eni.EQUIPMENT_TYPE_ID
    where eti.EQUIPMENT_TYPE_NO = #{equipmentTypeNo,jdbcType=VARCHAR}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from equipment_name_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.bazl.hslims.manager.model.po.EquipmentNameInfo" useGeneratedKeys="true" keyProperty="id">
    insert into equipment_name_info (EQUIPMENT_TYPE_ID, EQUIPMENT_NO, EQUIPMENT_NAME, CREATE_PERSON)
    values (#{equipmentTypeId,jdbcType=INTEGER}, #{equipmentNo,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.bazl.hslims.manager.model.po.EquipmentNameInfo">
    update equipment_name_info
    set EQUIPMENT_TYPE_ID = #{equipmentTypeId,jdbcType=INTEGER},
      EQUIPMENT_NO = #{equipmentNo,jdbcType=VARCHAR},
      EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      UPDATE_PERSON = #{updatePerson,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>