<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazl.hslims.manager.model.po.LimsBoardSample">
  <resultMap id="BaseResultMap" type="com.bazl.hslims.manager.model.po.LimsBoardSample">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BOARD_ID" jdbcType="INTEGER" property="boardId" />
    <result column="SAMPLE_ID" jdbcType="INTEGER" property="sampleId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BOARD_ID, SAMPLE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lims_board_sample
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lims_board_sample
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bazl.hslims.manager.model.po.LimsBoardSample">
    insert into lims_board_sample (ID, BOARD_ID, SAMPLE_ID
      )
    values (#{id,jdbcType=INTEGER}, #{boardId,jdbcType=INTEGER}, #{sampleId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bazl.hslims.manager.model.po.LimsBoardSample">
    update lims_board_sample
    set BOARD_ID = #{boardId,jdbcType=INTEGER},
      SAMPLE_ID = #{sampleId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>